body{
	background-image: url(../img/background.png);
	background-repeat: repeat-x;
}

/*фото строки браузера*/
.body>img{
	width: 1349px;
	display: block;
	margin: 0 auto;
}

/*хедер*/
.header{
	width: 1000px;
	height: 177px;
	margin: 0 auto;
	background: white;
	position: relative;
}
.header>img{
	display:block;
	width: 280px;
	position: absolute;
	top: 65px;
	left: 20px;
}
.header p{
	display: block;
	position: absolute;
	top: 110px;
	left: 90px;
	color: dodgerblue;
	font-size: 12px;
	font-family: sans-serif;
}
.header .contacts{
	display: block;
	position: absolute;
	top: 10px;
	right: 25px;
	color: dodgerblue;
	font-size: 12px;
	font-family: sans-serif;
	line-height: 17px;
}
.header .first-line{
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
}
.header a{
	text-decoration: none;
	color: dodgerblue;
}
/*флаги стран*/
.flags {
	display: block;
	width: 350px;
	position: absolute;
	top:110px;
	right: 15px;
}
.flags li{
	display: inline-block;
	width: 50px;
	margin: 0 3px;
	font-size: 10px;
	vertical-align: top;
	text-align: center;
}
.flags img{
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
.flags a{
	text-decoration: underline;
}

/*центральное фото*/
.foto img{
	width: 1000px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.content{
	width: 1000px;
	height: 580px;
	margin: 0 auto;
	background: white;
}
/*меню под фото */
.navigation {
	height: 30px;
	background: grey;
}
.navigation ul li{
	float: left;
	position: relative;
}
.navigation ul li a{
	display: block;
	height: 30px;
	width: 122px;
	color: white;
	background: grey;
	text-decoration: none;
	text-align: center;
	padding: 0 10px;
	font-size: 14px;
	font-family: sans-serif;
	line-height: 30px;
}
.navigation .submenu{
	position: absolute;
	top: 100%;
	width: 100%;
}
.navigation .submenu li{
	width: 100%;
	height: 25px;
}
.navigation .submenu li a{
	line-height: 25px;
	height: 25px;
}
ul.submenu {
	display: none;
	position: absolute;
	left: 29px;
}
ul.submenu li a {
	display: block;
	text-align: left;
}
ul.menu li:hover  ul.submenu {
	display: block;
}

/*контент слева  и справа */
.left , .right{
	width: 21%;
	height: 540px;
	background: lightgrey;
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 24px;
	padding-top: 10px;
}
.right{
	float:right;
}
.first-line{
	font-weight: bold;
	font-size: 18px;
}
/*футер*/
.footer{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 8px;
	text-align: center;
	color: white;
	font-size: 12px;
	font-family: sans-serif;
}